<p id="notice"><%= notice %></p>
<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>


<h1>Portfolio</h1>

Current Value to invest: <%= @aquery.query_value %>


<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Total invested </th>
      <th>Current value </th>
      <th>Crypto assets </th>
      <th>Share assets </th>
      <th>Total assets </th>
      <th>Checking Acc </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <tr>
      <td><%= @portfolio.user_id %></td>
      <td><%= @portfolio.totalInv %></td>
      <td><%= @portfolio.currentVal %></td>
      <td><%= @portfolio.cryptoAssets %></td>
      <td><%= @portfolio.shareAssets %></td>
      <td><%= @portfolio.totalAssets %></td>
      <td><%= @portfolio.checkingacc %></td>
      <td> <%= link_to 'Withdraw Money', @portfolio, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    </tr>

  </tbody>
</table>

<br><br><br>

<div>
  Available assets to purchase
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Current value </th>
      <th>Lowest value </th>
      <th>Average Value </th>
      <th>Highest value </th>
      <th>Period in days </th>
      <th>Recommendation </th>



      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>



    <% @queryresult.each do |result| %>
    <tr>

      <td><%= result.qrname %> </td>
      <td><%= result.qrcategory %></td>
      <td><%= result.qrcurrentvalue %></td>
      <td><%= result.qrlow %></td>
      <td><%= result.qraverage %></td>
      <td><%= result.qrhigh %></td>
      <td><%= result.qravgperiod %></td>

      <% if result.qrrecom == -1 %>
      <td> Near highest value </td>
      <%end %>
      <% if result.qrrecom == 1 %>
      <td> Near lowest value </td>
      <%end %>

      <% if result.qrrecom == 0 %>
      <td> Neutral </td>
      <%end %>



      <% end %>

    </tr>
  </tbody>
</table>



<br>


<%= form_for @investmentasset do |f| %>

<p>
  <%= f.select :name, @queryresult.all.collect {|x| [x.qrname, x.id]},{:include_blank => "Select one" } %>
  <br>
</p>
<p>

  <%= f.label "How much would you like to purchase?" %>
  <%= f.text_field :qty, :value => @aquery.query_value %>
  <%= f.submit "Purchase"   %>
</p>


<% end %>

<!-- <%= link_to 'New Portfolio', new_portfolio_path %> -->