<!-- <p id="notice"><%= notice %></p> -->



<h1>Portfolio</h1>


Current Value to invest: <%= @aquery.query_value %>


<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>

      <th scope="col">User</th>
      <th scope="col">Total invested </th>
      <th scope="col">Current value </th>
      <th scope="col">Crypto assets </th>
      <th scope="col">Share assets </th>
      <th scope="col">Total assets </th>
      <th scope="col">Checking Acc </th>
      <th scope="col"> Actions </th>
      <th scope="col"> Details </th>

    </tr>
  </thead>

  <tbody>

    <tr>
      <td><%= @portfolio.user_id %></td>
      <td><%= @portfolio.totalInv.round(2) %></td>
      <td><%= @portfolio.currentVal.round(2) %></td>
      <td><%= @portfolio.cryptoAssets %></td>
      <td><%= @portfolio.shareAssets %></td>
      <td><%= @portfolio.totalAssets %></td>
      <td><%= @portfolio.checkingacc.round(2) %></td>
      <td> <%= link_to 'Withdraw from Acc', @portfolio, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      <td> <%= link_to 'Investment Details', :investmentassets  %> </td>

    </tr>

  </tbody>
</table>

<br><br><br>
<%= link_to 'New Query', new_aquery_path %>
<div>
  Available assets to purchase
</div>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Current value </th>
      <th scope="col">Lowest value </th>
      <th scope="col">Average Value </th>
      <th scope="col">Highest value </th>
      <th scope="col">Period in days </th>
      <th scope="col">Recommendation </th>

    </tr>
  </thead>


  <tbody>



    <% @queryresult.each do |result| %>

    <% if result.qrrecom == -1 %>
    <tr class="table-danger">
      <% end %>

      <% if result.qrrecom == 1 %>
    <tr class="table-success">
      <% end %>

      <% if result.qrrecom == 0 %>
    <tr class="table-light">
      <% end %>




      <td><%= result.qrname %> </td>
      <td><%= result.qrcategory %></td>
      <td><%= result.qrcurrentvalue.round(2) %></td>
      <td><%= result.qrlow.round(2) %></td>
      <td><%= result.qraverage.round(2) %></td>
      <td><%= result.qrhigh.round(2) %></td>
      <td><%= result.qravgperiod %></td>

      <% if result.qrrecom == -1 %>
      <td> Near highest value </td>
      <%end %>
      <% if result.qrrecom == 1 %>
      <td> Near lowest value </td>
      <%end %>

      <% if result.qrrecom == 0 %>
      <td> Neutral </td>
      <%end %>



      <% end %>

    </tr>
  </tbody>
</table>



<br>


<%= form_for @investmentasset do |f| %>

<p>
  <%= f.select :name, @queryresult.all.collect {|x| [x.qrname, x.id]},{:include_blank => "Select one" }, :required => 'required'%>
  <br>
</p>
<p>

  <%= f.label "How much would you like to purchase?" %>
  <%= f.text_field :qty, :value => @aquery.query_value, :required => 'required'%>
  <%= f.submit  "Purchase", :class =>"btn btn-primary"   %>
</p>


<% end %>

<!-- <%= link_to 'New Portfolio', new_portfolio_path %> -->