<div id="clearance" class="sign-up">
  <div class="other-links">
    <%= link_to t(".sign_in"), sign_in_path %>
  </div>
  <h2 class="text-center"><%= t(".title") %></h2>
  <div class="jumbotron">
    <%= form_for @user do |form| %>
    <div class="login-form">
      <%= render partial: '/users/form', object: form %>
    </div>

    <div class="float-right btn btn-primary btn-lg">
      <%= form.submit %>
    </div>
  </div>

  <% end %>
</div>