<!-- <p id="notice"><%= notice %></p> -->

<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>


<h1>Investments</h1>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Porfolio</th>
      <th scope="col">Category</th>
      <th scope="col">Name</th>
      <th scope="col">Qty</th>
      <th scope="col">Unit Purchase value</th>
      <th scope="col">Purchase date</th>
      <th scope="col">Total Current Value </th>
      <th scope="col">Action </th>

    </tr>
  </thead>

  <tbody>
    <% @investmentassets.each do |ivas| %>
    <tr>
      <td><%= ivas.portfolio_id %></td>
      <td><%= ivas.category %></td>
      <td><%= ivas.name %></td>
      <td><%= ivas.qty %></td>
      <td><%= ivas.purchaseValue.round(2) %></td>
      <td><%= ivas.created_at.strftime("%FT%T") %></td>
      <td><%= ivas.totalcurrval.round(2) %> </td>
      <td><%= link_to 'Sell', ivas, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
Current Unit prices
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name </th>
      <th scope="col">Value</th>
    </tr>
  </thead>

  <tbody>
    <% @currentvalue.each do |cv| %>
    <tr>
      <td><%= cv.name %></td>
      <td><%= cv.value %></td>

    </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'New Investment', portfolios_path %>