<p id="notice"><%= notice %></p>

<style>
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
  }
</style>


<h1>Investments</h1>

<table>
  <thead>
    <tr>
      <th>Porfolio</th>
      <th>Category</th>
      <th>Name</th>
      <th>Qty</th>
      <th>Purchase value</th>
      <th>Total Current Value </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @investmentassets.each do |investmentasset| %>
    <tr>
      <td><%= investmentasset.portfolio_id %></td>
      <td><%= investmentasset.category %></td>
      <td><%= investmentasset.name %></td>
      <td><%= investmentasset.qty %></td>
      <td><%= investmentasset.purchaseValue %></td>
      <td><%= investmentasset.totalcurrval %> </td>
      <td><%= link_to 'Sell', investmentasset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Investment', portfolios_path %>