<p id="notice"><%= notice %></p>

<p>
  <strong>Porfolio:</strong>
  <%= @investmentasset.portfolio_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @investmentasset.category %>
</p>

<p>
  <strong>Name:</strong>
  <%= @investmentasset.name %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @investmentasset.qty %>
</p>

<p>
  <strong>Purchasevalue:</strong>
  <%= @investmentasset.purchaseValue %>
</p>

<%= link_to 'Edit', edit_investmentasset_path(@investmentasset) %> |
<%= link_to 'Back', investmentassets_path %>