<!-- <p id="notice"><%= notice %></p> -->





<table class="table table-bordered table-sm">
  <thead class="thead-dark">
    <tr>

      <th scope="col">Data</th>
      <th scope="col">Value</th>

    </tr>
  </thead>

  <tbody>

    <tr>
      <td>Porfolio</td>
      <td><%= @investmentasset.portfolio_id %></td>
    </tr>
    <tr>
      <td>Category</td>
      <td><%= @investmentasset.category %></td>
    </tr>
    <tr>
      <td>Name</td>
      <td><%= @investmentasset.name %></td>
    </tr>
    <tr>
      <td>Quantity</td>
      <td><%= @investmentasset.qty %></td>
    </tr>

    <tr>
      <td>Purchase value</td>
      <td><%= @investmentasset.purchaseValue %></td>
    </tr>

  </tbody>
</table>


<%= link_to 'Back', investmentassets_path %>