<!DOCTYPE html>
<html>

<head>
  <title>Fuzzy Trader</title>
  <%= csrf_meta_tags %> <%= csp_meta_tag %>
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%=     javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
    <header>
      <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
          <% if signed_in? %>
          <small text-allign="right"> Signed in as: <%= current_user.email %> </small>
          <%= button_to 'Sign out', sign_out_path, method: :delete, :class=>"btn btn-primary btn-sm" %>
        </div>
        <% end %>



      </nav>
    </header>



    <section>
      <div id="flash">
        <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>

      <%= yield %>
    </section>
  </div>
</body>

</html>